* {
    background-color: antiquewhite;
}

.heading{
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: #e1a981;
}

p,li{
    color: #c4a4a4;
}

.image{
    width: 250px;
}
